<!DOCTYPE HTML>
<html>
<head>
    <title>RoomHelper 3000—Student</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script>
        const settings = {{settings | safe}};
        const lastSeatIndex = {{lastSeatIndex}};
    </script>
    <script type="text/javascript" charset="utf-8" src="static/js/status.js"></script>
    <script type="text/javascript" charset="utf-8" src="static/js/student.js"></script>
</head>
<body>
<div class="container" id="container">
    <h3>RoomHelper 3000</h3>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Name and Location</h4>
            <form id="seat">
                <div class="form-group row">
                    <select class="form-control col-4" id="name">
                        <option value=''>Name</option>
                        {% for name in names %}
                        <option value='{{ name }}'>{{ name }}</option>
                        {% endfor %}
                    </select>
                    <input class="form-control col-3" id="nickname" placeholder="Optional Nickname"
                        style="display: none">
                </div>
                <div class="form-group row">
                    <select class="form-control col-2" id="row">
                        <option value=''>Row</option>
                    </select>
                    <select class="form-control col-2" id="column">
                        <option value=''>Column</option>
                    </select>
                </div>
                <div class="form-group row">
                    <button id="set-names" type="submit" class="btn btn-primary form-control col-2">Set</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card" id="comm" style="display: none">
        <div class="card-body">
            <h4 class="card-title">Communication</h4>
            <div id="teacher-msg" style="display: none">
                <h5>Instructions from Teacher</h5>
                <p id="teacher-msg-text"></p>
            </div>
            <div id="status-checks" style="display: none">
                <h5>Your Status</h5>
                <input id='needHelp' type="checkbox"><label for="needHelp">Need Help</label>
                <input id='haveAnswer' type="checkbox" style="margin-left: 1em"><label for="haveAnswer">Have Answer</label>
                <input id='done' type="checkbox" style="margin-left: 1em"><label for="done">Done with current
                assignment</label>
            </div>
            {% include 'chat.html' %}
        </div>
    </div>
    <p style="font-size: 70%"><a href="https://davebsoft.com">Dave Briccetti Software LLC</a></p>
</div>
{% include 'bootstrap.html' %}
</body>
</html>
