<!DOCTYPE HTML>
<html>
<head>
    <title>RoomHelper 3000</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script>const settings = {{settings | safe}};</script>
    <script type="text/javascript" charset="utf-8" src="static/js/status.js"></script>
    <script type="text/javascript" charset="utf-8" src="static/js/teacher.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="static/js/sketch.js"></script>
</head>
<body>
<div class="container" id="container">
    <h3>RoomHelper 3000</h3>
    <div id="login">
        <input id="password" type="password">
    </div>
    <div id="main" style="display: none">
        <div id="canvas"></div>
        <div style="margin-bottom: .3em">
            <input id='front-view' type="checkbox" checked>
            <label for="front-view">Front View</label>
            <input id='enable-chat' type="checkbox" style="margin-left: .6em;">
            <label for="enable-chat">Chat</label>
            <input id='enable-checks' type="checkbox" style="margin-left: .6em;">
            <label for="enable-checks">Checks</label>
            <button id="clear-checks" type="button" class="btn btn-primary">Clear</button>
            <span style="margin-left: 1em">Random calling:</span>
            <button class="btn btn-primary" id="random-set">Set</button>
            <input type="number" value='2' style="width: 2em" id="random-set-number">
            Call:
            <button class="btn btn-primary" id="choose">Any</button>
            <button class="btn btn-primary" id="choose-with-answer">With Answer</button>
            <button class="btn btn-secondary" id="choose-reset">Reset</button>
        </div>
        <textarea id="names" rows="2" placeholder="Names"></textarea>
        <textarea id="teacher-msg" style='margin-left: 1em' rows="2" cols="40" placeholder="Message from Teacher"></textarea>
        <br/>
        <label>
            <input id='assign-seats' type="checkbox" autocomplete="off"> Assign Seats
        </label>
        <button id="set-names" type="button" class="btn btn-primary">Set</button>
        {% include 'chat.html' %}
    </div>
    <p/><p style="font-size: 70%"><a href="https://davebsoft.com">Dave Briccetti Software LLC</a></p>
</div>
<script>
stations = {{stationJson | safe}};
</script>
{% include 'bootstrap.html' %}
</body>
</html>
