<!DOCTYPE HTML>
<html lang="en:US">
<head>
    <title>RoomHelper 3000</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.min.js"></script>
    <script src="./static/js/teacher_bundle.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () =>
        RoomHelper3000.createTeacher({{ settings | safe }}, {{ stationJson | safe }}));
    </script>
    <link rel="stylesheet" href="static/css/main.css">
    </head>
<body>
<div class="container" id="container">
    <h3>RoomHelper 3000</h3>
    <div id="login">
        <input id="password" type="password">
    </div>
    <div id="main" style="display: none">
        <div id="canvas-container"></div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="seating-tab" data-toggle="tab" href="#seating" role="tab"
                   aria-controls="seating" aria-selected="true">Seating</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="calling-tab" data-toggle="tab" href="#calling" role="tab"
                   aria-controls="calling" aria-selected="false">Calling</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact" aria-selected="false">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="control-tab" data-toggle="tab" href="#control" role="tab"
                   aria-controls="control" aria-selected="false">Control</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="poll-tab" data-toggle="tab" href="#poll" role="tab" aria-controls="poll"
                   aria-selected="false">Poll</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane show active" id="seating" role="tabpanel" aria-labelledby="seating-tab">
                <span>
                    <input id='front-view' type="checkbox" checked>
                    <label for="front-view">Front View</label>
                </span>
                <textarea id="names" rows="8" placeholder="Names"></textarea>
                <label>
                    <input id='assign-seats' type="checkbox" autocomplete="off"> Assign Seats
                </label>
                <button id="set-names" type="button" class="btn btn-outline-primary btn-sm">Set</button>
            </div>
            <div class="tab-pane" id="calling" role="tabpanel" aria-labelledby="calling-tab">
                <button class="btn btn-outline-primary btn-sm" id="random-set">Set</button>
                <input type="number" value='2' style="width: 2.5em" id="random-set-number">
                Call:
                <button class="btn btn-outline-primary btn-sm" id="choose">Any</button>
                <button class="btn btn-outline-primary btn-sm" id="choose-with-answer">With Answer</button>
                <button class="btn btn-outline-secondary btn-sm" id="choose-reset">Reset</button>
            </div>
            <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <button id="ring-bell" type="button" class="btn btn-outline-primary btn-sm">Bell</button>
                <textarea id="teacher-msg" style='margin-left: 1em' rows="2" cols="40"
                          placeholder="Message from Teacher"></textarea>
            </div>
            <div class="tab-pane" id="control" role="tabpanel" aria-labelledby="control-tab">
                <input id='enable-checks' type="checkbox">
                <label for="enable-checks">Statuses</label>
                <button id="clear-checks" type="button" class="btn btn-outline-primary btn-sm">Clear</button>

                <input id='enable-shares' type="checkbox" style="margin-left: 3em;">
                <label for="enable-shares">Shares</label>
                <button id="clear-shares" type="button" class="btn btn-outline-primary btn-sm">Clear</button>

                <input id='enable-chat' type="checkbox" style="margin-left: 3em;">
                <label for="enable-chat">Chat</label>
                <button id="clear-chat" type="button" class="btn btn-outline-primary btn-sm">Clear</button>
            </div>
            <div class="tab-pane" id="poll" role="tabpanel" aria-labelledby="poll-tab">
                <div class="form-group row">
                    <h5>Question</h5>
                    <textarea class="form-control" id="question-text" rows="2"
                              placeholder="Question"></textarea>
                </div>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a id="poll-tab-text" class="nav-link active" data-toggle="tab" href="#text" role="tab"
                           aria-controls="text" aria-selected="true">Text</a>
                    </li>
                    <li class="nav-item">
                        <a id="poll-tab-multi" class="nav-link" data-toggle="tab" href="#multiple-choice" role="tab"
                           aria-controls="multiple-choice" aria-selected="true">Multiple Choice</a>
                    </li>
                    <li class="nav-item">
                        <a id="poll-tab-scale" class="nav-link" data-toggle="tab" href="#scale" role="tab"
                           aria-controls="scale" aria-selected="true">Scale</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="text" role="tabpanel" aria-labelledby="poll-tab-text">
                    </div>
                    <div class="tab-pane" id="multiple-choice" role="tabpanel" aria-labelledby="poll-tab-multi">
                        <div class="form-group row">
                            <h5>Responses</h5>
                            <textarea class="form-control" id="multi-answers" rows="4"
                                      placeholder="Answers"></textarea>
                        </div>
                    </div>
                    <div class="tab-pane" id="scale" role="tabpanel" aria-labelledby="poll-tab-scale">
                        <div class="form-group row">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <h5>Multiple Questions</h5>
                    <button id='show-multi-text' class='btn btn-outline-secondary btn-sm'>Paste...</button>
                    <textarea class="form-control" id="multiple-question-text" rows="5"
                              placeholder="Paste multiple questions here"></textarea>
                </div>
                <div class="form-group row">
                    <h5>Select from Multiple Questions</h5>
                    <select class="form-control" id="multiple-question-select"></select>
                </div>

                <div class="form-group row">
                    <span class="form-control">
                        <input id='enable-poll' type="checkbox">
                        <label for="enable-poll">Show Question</label>
                        <span id='show-answers' style='margin-left: 2em'>Show <span id="num-answers"></span> answer<span id="num-answers-plural"></span>:
                            <input id='show-here' type="checkbox">
                            <label for="show-here">Here</label>
                            <input id='show-in-chart' type="checkbox">
                            <label for="show-in-chart">In Chart</label>
                        </span>
                    </span>
                </div>
                <div id='answers' class="form-group row" style="display: none">
                    <table class="table table-striped table-small">
                        <thead class="thead-light">
                        <tr>
                            <th>Student</th>
                            <th>Answer</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        {% include 'shares.html' %}
        {% include 'chat.html' %}
    </div>
    <p/><p style="font-size: 70%"><a href="https://davebsoft.com">Dave Briccetti Software LLC</a></p>
</div>
{% include 'bootstrap.html' %}
</body>
</html>
